<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/home/knoldus/IdeaProjects/Go_Rest1_api"><classes><class name="GoRestTest.Test"><methods><include name="Createuser1"/><include name="Createuser2"/><include name="Createuser3"/><include name="Createuser4"/><include name="Createuser5"/><include name="Createuser6"/><include name="Createuser7"/><include name="Createuser8"/><include name="Createuser9"/><include name="Getuserlist1"/><include name="Getuserlist2"/><include name="Getuserlist3"/><include name="Getuserlist4"/><include name="Updateuser1"/><include name="Updateuser2"/><include name="Updateuser4"/><include name="Updateuser5"/><include name="Updateuser6"/><include name="Updateuser7"/><include name="Updateuser8"/><include name="Deleteuser1"/><include name="Deleteuser2"/><include name="Deleteuser3"/></methods></class></classes></test></suite>